html {
  background-color: rgb(219, 215, 215);
}

.navbar {
  background-color: #283e4a;
}

.first-section {
  background-image: url('../assets/images/fondo.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  opacity: 0.9;
  filter: alpha(opacity=50);
}

.titles {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 2px;
}

.subtitles {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 3px;
}

.padding {
  padding-top: 80px;
}

.notification.is-link {
  height: 40vh;
  background-color: rgba(4, 71, 138, 0.5);
}

.media-content {
  overflow: hidden;
}

.card {
  margin: 20px;
  display: inline-block;
}

.button.is-link {
  margin-top: 10px;
}

@media only screen and (min-width: 601px) {
  .padding {
    padding-top: 150px;
  }
  .titles {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 3px;
    padding-top: 0px;
  }
  .subtitles {
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 4px;
    margin: 0;
  }
  .first-section {
    background-image: url('../assets/images/fondo.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    opacity: 0.8;
    filter: alpha(opacity=50);
  }
  .notification.is-link {
    height: 50vh;
    background-color: rgba(2, 81, 172, 0.473);
  }
  .card {
    width: 30%;
    margin: 20px;
    display: inline-block;
  }
  .button.is-link {
    margin-top: 10px;
  }
}